<div class="primary-color d-flex flex-column justify-content-center pt-4">
  <header class="container secondary-color text-center">
    <h1 class="display-4 mb-4">About this site</h1>
  </header>
  <section class="primary-color d-flex flex-column align-items-stretch justify-content-center mx-5 px-5">
    <p>
      I’ve been fascinated by strange attractors ever since first
      <a target="_blank" href="https://mathworld.wolfram.com/StrangeAttractor.html">discovering them</a>.
      It boggles my mind that such complex and varied shapes could come from such simple equations.
    </p>
    <p>
      Beyond being mathematically interesting, many of them are also beautiful. When I first learned
      about them, I was learning to code for the first time, in college, so I built a simple Matlab
      script that would generate random sets of coefficients to use in the equation and discard sets
      that created trivially boring attractors. The app would display the attractors that passed
      that filter, and allow me to save ones I found pretty or interesting.
    </p>
    <p>
      Years later, I’m revisiting and rewriting that project from scratch. I’m inspired to share the
      beauty of strange attractors with everyone, and create better tools for exploring variants of
      interesting strange attractors myself.
    </p>
    <p>Enjoy!</p>
  </section>
</div>
