<p>
  <%= @greeting %>,
</p>

<p>
  Click the link below to reset your Chaos Attractors password. If you didn’t request to reset your
  password, you can ignore this email, or reply if you think something is wrong.
</p>

<p>TODO: include link</p>