<% provide(:title, 'All users') %>
<div class="primary-color d-flex flex-column justify-content-center pt-4">
  <header class="container secondary-color text-center">
    <h1 class="display-4 mb-4">All users</h1>
  </header>
  <section class="primary-color d-flex flex-column align-items-stretch justify-content-center mx-5 px-5">
    <div class="users d-flex flex-column">
      <% @users.each do |user| %>
        <div class="user">
          <%= link_to user.name, user %>
        </div>
      <% end %>
    </div>
  </section>
</div>
