<% provide(:title, "Internal error") %>
<div class="primary-color d-flex flex-column justify-content-center pt-4">
  <header class="container secondary-color text-center">
    <h1 class="display-4 mb-4">Internal error</h1>
    <h2>An error occurred. Please try again later.</h2>
  </header>
</div>
