<% provide(:title, "404 Page not found") %>
<div class="primary-color d-flex flex-column justify-content-center pt-4">
  <header class="container secondary-color text-center">
    <h1 class="display-4 mb-4">404: Page not found</h1>
    <h2>The page you requested doesn’t exist!</h2>
  </header>
</div>
