<% provide(:title, "Unacceptable input") %>
<div class="primary-color d-flex flex-column justify-content-center pt-4">
  <header class="container secondary-color text-center">
    <h1 class="display-4 mb-4">Unacceptable input</h1>
    <h2>We weren’t able to process your input!<br>Please try something different.</h2>
  </header>
</div>
