@import 'bootstrap/scss/bootstrap';

/* Mixins, variables, etc. */

$state-danger-text: red;

/* Generic styles */

.primary-color {
  background-color: #FFFFFF;
}
.secondary-color {
  color: #293241;
}

/* forms */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  .form-control, label {
    color: $state-danger-text;
  }
}

/* Users */
.users {
  .user {
    padding: 5px;
    border-bottom: 1px solid lightgray;
  }

  .user:last-child {
    border-bottom: none;
  }
}

/* User page */
.user-profile__attractor__container {
  border-bottom: 1px solid lightgray;
  //border-radius: 4px;
  padding: 12px;
  margin-bottom: 12px;

  &:last-child {
    border-bottom: none;
  }
}
