<div class="user-profile__attractor__container">
  <%= react_component("Attractor/index", {
    coefficients: attractor.details["coefficients"],
    startXy: attractor.details["startXy"],
    showEquation: false,
    initialCount: initialCount,
    width: width, height: height,
    id: attractor.id,
    canDelete: canDelete && attractor.user_id == current_user.id }) %>
</div>
