<header>
  <nav class="d-flex justify-content-between navbar">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <%= link_to "Strange Attractors", "/", class: "nav-link mx-2" %>
      </li>
    </ul>
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <%= link_to "What are Strange Attractors?", "/static_pages/what_are_strange_attractors", class: "nav-link mx-2" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", "/static_pages/about", class: "nav-link mx-2" %>
      </li>
    </ul>
  </nav>
</header>